@font-face {
    font-family: opensans;
    src: url(../fonts/opensans-light.woff) format("woff")
}

@font-face {
    font-family: opensans-semibold;
    src: url(../fonts/opensans-light.woff) format("woff")
}

@font-face {
    font-family: roboto;
    src: url(../fonts/robotoslab_bold.ttf) format("truetype")
}

@font-face {
    font-family: opensans-six;
    src: url(../fonts/opensans-v6.woff) format("woff")
}

body {
    font-family: opensans, serif;
}

body a {
    color: #008ed5
}

body a:hover {
    color: #008ED5;
    text-decoration: none
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin: 10px 0;
    color: #9fafbe
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    padding: 5px 0
}

blockquote,
blockquote.pull-right {
    border-color: #008ed5
}

blockquote small,
blockquote.pull-right small {
    color: #9199a2
}

legend {
    color: #9199a2
}

textarea {
    max-width: 100%
}

.well {
    background-color: #383c40;
    border-style: solid;
    border-width: 0;
    border-color: transparent!important
}

.help-block {
    color: #9fafbe
}

.navbar-title {
    font-size: 35px;
    border-style: solid;
    border-width: 0;
    border-color: transparent!important
}

.navbar .nav .open>a,
.navbar .nav .open>a:hover,
.navbar .nav .open>a:focus {
    background-color: #3a424a;
    border-style: solid;
    border-width: 0 1px;
    border-color: transparent #3a424a transparent #5a6773
}

.navbar-dark {
    background-color: #49535d;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #3a424a
}

.navbar-dark a {
    color: #fff;
    border-style: solid;
    border-width: 0 1px;
    border-color: transparent #3a424a transparent #5a6773
}

.navbar-dark a:hover {
    color: #fff
}

.navbar-dark .nav>li>a:hover,
.navbar-dark .nav>li>a:focus {
    background-color: #3a424a
}

.navbar-dark ul>li>ul>li a {
    border-style: solid;
    border-width: 0;
    border-color: transparent!important
}

.navbar-dark ul>li>ul>li a:hover {
    background-color: #f5f5f5
}

.text-primary {
    color: #9fafbe
}

.text-info {
    color: #2c82b9
}

.text-success {
    color: #a9e247
}

.text-warning {
    color: #e2a947
}

.text-danger {
    color: #008ed5
}

.text-muted {
    color: #9199a2
}

.btn {
    color: #e6e9ea;
    background-color: #697785;
    border-width: 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: -3px 4px 4px 0 rgba(0, 0, 0, .16);
    -moz-box-shadow: -3px 4px 4px 0 rgba(0, 0, 0, .16);
    box-shadow: -3px 4px 4px 0 rgba(0, 0, 0, .16);
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms
}

.btn:hover,
.btn:active,
.btn:focus {
    color: #e6e9ea;
    background-color: #606d7a
}

.btn-primary {
    background-color: #008ed5
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #0080c1
}

.btn-info {
    background-color: #6db2c3
}

.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: #5faabd
}

.btn-success {
    color: #485c26;
    background-color: #b8d252
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    color: #485c26;
    background-color: #b1ce42
}

.btn-warning {
    background-color: #ff9141
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color: #ff852d
}

.btn-danger {
    background-color: #be3f3f
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #af3a3a
}

.btn-other {
    background-color: #272a2d
}

.btn-other:hover,
.btn-other:active,
.btn-other:focus,
.btn-other.active,
.btn-other.disabled,
.btn-other[disabled],
fieldset[disabled] .btn-other,
.btn-other.disabled:hover,
.btn-other[disabled]:hover,
fieldset[disabled] .btn-other:hover,
.btn-other.disabled:focus,
.btn-other[disabled]:focus,
fieldset[disabled] .btn-other:focus,
.btn-other.disabled:active,
.btn-other[disabled]:active,
fieldset[disabled] .btn-other:active,
.btn-other.disabled.active,
.btn-other[disabled].active,
fieldset[disabled] .btn-other.active {
    color: #fff;
    background-color: #1e2022
}

.btn-link {
    background-color: transparent!important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.btn-group {
    -webkit-box-shadow: -3px 4px 4px 0 rgba(0, 0, 0, .16);
    -moz-box-shadow: -3px 4px 4px 0 rgba(0, 0, 0, .16);
    box-shadow: -3px 4px 4px 0 rgba(0, 0, 0, .16)
}

.btn-group>.btn+.dropdown-toggle {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.btn-group>.btn:first-child {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.open .dropdown-toggle.btn-default {
    background-color: #606d7a
}

.open .dropdown-toggle.btn-primary {
    background-color: #0080c1
}

.open .dropdown-toggle.btn-info {
    background-color: #5faabd
}

.open .dropdown-toggle.btn-success {
    background-color: #b1ce42
}

.open .dropdown-toggle.btn-warning {
    background-color: #ff852d
}

.open .dropdown-toggle.btn-danger {
    background-color: #af3a3a
}

.open .dropdown-toggle.btn-other {
    background-color: #1e2022
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #e6e9ea;
    background-color: #008ed5
}

.pagination li a {
    padding: 6px 11px;
    color: #fff;
    background-color: #49535d;
    border-style: solid;
    border-width: 0 1px;
    border-color: transparent #3a424a transparent #5a6773
}

.pagination li a:hover {
    color: #fff;
    background-color: #3a424a;
    border-style: solid;
    border-width: 0 1px;
    border-color: transparent #3a424a transparent #5a6773
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #008ed5;
    border-style: solid;
    border-width: 0;
    border-color: transparent!important
}

.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
    background-color: #383c40;
    border-style: solid;
    border-width: 0;
    border-color: transparent!important
}

.flag {
    position: relative;
    margin: 5px 10px;
    padding: 4px 20px 4px 12px;
    display: inline-block;
    background-color: #697785
}

.flag:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -13px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 13px 13px 0;
    border-color: transparent #272a2d transparent transparent
}

.flag a {
    color: #fff
}

.panel {
    border-style: solid;
    border-width: 0;
    border-color: transparent!important
}

.panel-default>.panel-heading {
    color: #e6e9ea;
    background-color: #606d7a
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #008ed5;
    border-style: solid;
    border-width: 0;
    border-color: transparent!important
}

.panel-success>.panel-heading {
    color: #485c26;
    background-color: #b1ce42
}

.panel-warning>.panel-heading {
    color: #fff;
    background-color: #ff9141
}

.panel-danger>.panel-heading {
    color: #fff;
    background-color: #be3f3f
}

.panel-info>.panel-heading {
    color: #fff;
    background-color: #6db2c3
}

.container .jumbotron {
    height: auto;
    min-height: 450px;
    color: #272a2d;
    font-weight: 400;
    overflow-y: hidden;
    background-color: #fff;
    background-image: url(../img/home.jpg );
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 0 5px 0 0 rgba(0, 0, 0, .16);
    -moz-box-shadow: 0 5px 0 0 rgba(0, 0, 0, .16);
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, .16);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px
}

.thumbnail {
    background-color: transparent!important;
    border-width: 0
}

.thumbnail .caption {
    color: #9199a2
}

.carousel {
    margin: 0 0 40px
}

.carousel-indicators {
    bottom: -40px
}

.carousel-indicators li {
    background-color: #017595;
    border-style: solid;
    border-width: 0;
    border-color: transparent!important
}

.carousel-indicators .active {
    background-color: #4db0cb
}

.alert-warning,
.alert-danger,
.alert-info,
.alertsuccess {
    background-color: transparent!important
}

.alert-primary {
    color: #9199a2;
    background-color: #272a2a;
    border-style: solid;
    border-width: 1px;
    border-color: #383c40
}

.alert-warning {
    color: #e2a947;
    border-style: solid;
    border-width: 1px;
    border-color: #e2a947
}

.alert-warning .alert-link {
    color: #e2a947
}

.alert-danger {
    color: #008ed5;
    border-style: solid;
    border-width: 1px;
    border-color: #008ed5
}

.alert-danger .alert-link {
    color: #008ed5
}

.alert-info {
    color: #2c82b9;
    border-style: solid;
    border-width: 1px;
    border-color: #2c82b9
}

.alert-info .alert-link {
    color: #2c82b9
}

.alert-success {
    color: #a9e247;
    border-style: solid;
    border-width: 1px;
    border-color: #a9e247
}

.alert-success .alert-link {
    color: #a9e247
}

.progress {
    background-color: #272a2d
}

.row {
    margin: 10px 0 0
}

.col-border {
    background: transparent!important;
    border-style: solid;
    border-width: 3px;
    border-color: #272a2d
}

.col-no-bg {
    background: transparent!important
}

.col-lg-8,
.col-md-8,
.col-lg-6,
.col-md-6,
.col-lg-4,
.col-md-4,
.col-lg-1,
.col-md-1 {
    padding: 15px;
    background: #272a2d;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.col-lg-12,
.col-md-12 {
    width: 96%;
    margin: 0 0 0 2%
}

.col-lg-8,
.col-md-8 {
    width: 63.66%;
    margin: 0 0 0 2%
}

.col-lg-6,
.col-md-6 {
    width: 47%;
    margin: 0 0 0 2%
}

.col-lg-4,
.col-md-4 {
    width: 29.33%;
    margin: 0 0 0 3%
}

.col-lg-1,
.col-md-1 {
    width: 6.17%;
    margin: 0 0 0 2%
}

.col-lg-4:first-child,
.col-md-4:first-child {
    margin: 0 1% 0 2%
}

.col-lg-4:nth-child(2),
.col-md-4:nth-child(2) {
    margin: 0 1% 0 3%
}

@media (min-width:992px) and (max-width:1199px) {
    .col-lg-8,
    .col-md-8,
    .col-lg-6,
    .col-md-6,
    .col-lg-4,
    .col-md-4,
    .col-lg-1,
    .col-md-1 {
        float: left
    }
}

@media (min-width:768px) and (max-width:991px) {
    .col-lg-8,
    .col-md-8,
    .col-lg-6,
    .col-md-6,
    .col-lg-4,
    .col-md-4,
    .col-lg-1,
    .col-md-1 {
        width: 96%;
        margin: 0 0 0 2%;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0
    }
    .col-lg-6,
    .col-md-6 {
        display: inline-flex
    }
    .col-lg-8:first-child,
    .col-md-8:first-child,
    .col-lg-6:first-child,
    .col-md-6:first-child,
    .col-lg-4:first-child,
    .col-md-4:first-child,
    .col-lg-1:first-child,
    .col-md-1:first-child {
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0
    }
    .col-lg-4:nth-child(2),
    .col-md-4:nth-child(2) {
        margin: 0 1% 0 2%
    }
    .col-lg-8:last-child,
    .col-md-8:last-child,
    .col-lg-6:last-child,
    .col-md-6:last-child,
    .col-lg-4:last-child,
    .col-md-4:last-child,
    .col-lg-1:last-child,
    .col-md-1:last-child {
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px
    }
    .heading h1:before,
    .heading h1:after {
        height: 100%;
        top: 0
    }
}

@media (max-width:767px) {
    .col-lg-8,
    .col-md-8,
    .col-lg-6,
    .col-md-6,
    .col-lg-4,
    .col-md-4,
    .col-lg-1,
    .col-md-1 {
        width: 96%;
        margin: 0 0 0 2%;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0
    }
    .col-lg-6,
    .col-md-6 {
        display: inline-flex
    }
    .col-lg-8:first-child,
    .col-md-8:first-child,
    .col-lg-6:first-child,
    .col-md-6:first-child,
    .col-lg-4:first-child,
    .col-md-4:first-child,
    .col-lg-1:first-child,
    .col-md-1:first-child {
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0
    }
    .col-lg-4:nth-child(2),
    .col-md-4:nth-child(2) {
        margin: 0 1% 0 2%
    }
    .col-lg-8:last-child,
    .col-md-8:last-child,
    .col-lg-6:last-child,
    .col-md-6:last-child,
    .col-lg-4:last-child,
    .col-md-4:last-child,
    .col-md-1:last-child {
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px
    }
    .heading h1:before,
    .heading h1:after {
        height: 100%;
        top: 0
    }
}
